@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Lato&display=swap');
* {
    margin: 0%;
    padding: 0%;
}
.banner {
    height: 99vh;
    min-height: 600px;
    background-image: url('./assets/hm.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
}
.menu {
    display: flex;
    font-size: 20px;
    color: #fff;
    align-items: center;
}
.menu span {
    margin-right: 30px;
    cursor: pointer;
}
.contact {
    background-color: white;
    color: black;
    padding: 4px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.contact:hover{
    background-color: whitesmoke;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    flex-grow: 1;
    color: white;
    font-weight: bold;
}
.arrow {
    margin-top: 40px;
}


/* ------------------------------------------ */

.section1, .section3 {
    display: flex;
    height: 350px;
}
.section1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section1 .left {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 .text-container {
    width: 70%;
}
.left h1 {
    font-size: 40px;
    margin-bottom: 16px;
}
.left p {
    color: #848391;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
}
.left .btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left img {
    width: 130px;
}
.left, .right {
    flex: 1;
}

/* ------------------------------------- */

.section2 {
    display: flex;
    height: 350px;
}
.section2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.section2 .right-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 .text {
    width: 70%;
}
.right-sec h1 {
    font-size: 40px;
    margin-bottom: 16px;
}
.right-sec p {
    color: #848391;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px;
}
.right-sec .btn {
    display: flex;
    align-items: center;
}
.right-sec img {
    width: 130px;
}

.left-sec, .right-sec {
    flex: 1;
}

/* --------------------------- */

.left img, .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left div img {
    width: 130px;
}
.section3.left, .section3.right{
    flex: 1;
}

/* --------------------------------- */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBF8;
    padding:50px;
}
.testimonials h1 {
    color: #A0A1A2;
    font-size: 20px;
    margin-bottom: 40px;
}
.clients {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}
.clients .client {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    align-items: center;
}
.client .client-img {
    margin-bottom: 30px ;
}
.client p {
    text-align: center;
    margin-bottom: 30px;
    color: #848391;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}
.client .details {
    text-align: center;
}
.client h4 {
    color:#A0A1A2;
    margin-top: 8px;
}

/* -------------------------------------- */

.examples {
    display: flex;
}
.examples div {
    flex: 0.25;
}
.examples img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------------------------------------- */

.footer {
    background-color: #90d4c5;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .logo {
    color: #2d7465;
}
.footer-nav {
    color: #2d7465;
    margin-top: 30px;
    font-weight: bold;
}
.footer-nav span {
    padding: 8px;
    cursor: pointer;
}
.footer-nav span:hover{
    color: #2d7465;
}
.footer .socials {
    margin-top: 30px;
}
.socials i {
    padding: 4px;
}

/* ------------------ */

@media (max-width: 767px){
    .section1 {
        flex-direction: column;
        height: auto;
    }
    .section1 .left {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .section2 {
        flex-direction: column;
        height: auto;
    }
    .section2 .left-sec {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .clients {
        flex-direction: column;
    }
    .clients .client {
        margin-top: 50px;
    }

    .examples {
        flex-wrap: wrap;
    }
    .examples div {
        flex: 0.5;
        flex-basis: 50%;
    }
}